# OpenTSDB development config
#
# This is a sample config that overrides the default config with values that make
# sense to use while developing. Create a copy of me named 'opentsdb.conf'
# (ignored by git) in /config to get a config that you are free to make whatever
# modifications you want to in.
#
# This config is used by `gradle run` regardless of which directory you run it
# in and most IDE's can be configured to be use it too (IntelliJ uses this file
# automatically since it uses the root project dir as a working directory).

# --------- NETWORK ----------
# The TCP port TSD should use for communications
tsd.network.port = 4242

# The IPv4 network address to bind to, defaults to all addresses
tsd.network.bind = 127.0.0.1

# ----------- HTTP -----------
# The location of static files for the HTTP GUI interface.
tsd.http.staticroot = static

# Where TSD should write it's cache files to
tsd.http.cachedir = tmp

# --------- CORE ----------
# Whether or not to automatically create UIDs for new metric types, default
# is False
tsd.core.auto_create_metrics = false

# Which storage adapter to use
tsd.storage.adapter = net.opentsdb.storage.cassandra.CassandraStoreDescriptor
