# The whole config is a single JSON object, that contains two objects:
{

	// The global object that tells tsdbtool its global settings:
    "global": {

		// load balancing strategy: rr for round robin, random for choose
		// a host at random
        "balance": "rr", 

        // This specifies the proxies to use globally, which is another
		// JSON object that uses protocol for the key and a URL for the
		// value which identifies the proxy to use. null means defer the
		// proxy decision to the environment with the *_PROXY variables having
		// meaning. an empty object {} means to explicitly use no proxies.
        "proxies": null, 

		// This identifies how long to wait (minimum) to retry a connection
		// to a TSD previously found in a down state. 
        "retry-interval": 60,

		// This is the number of times to try to contact a TSD before giving
		// up
		"retry": 0 
    }, 
    "hosts": {
#        "tsdb-1.phx2:4242": {
#        },

		"tsdb.lldns.net:4242": {
            "proxies": null
        }
    }
}
