<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <jmxConfigurator/>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>
        %d{ISO8601} %-5level [%thread] %logger{0}: %msg%n
      </pattern>
    </encoder>
  </appender>

  <logger name="org.apache.zookeeper" level="info"/>
  <logger name="org.apache.hadoop.hbase" level="debug"/>
  <root level="info">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
