<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <!--<jmxConfigurator/>-->
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>
        %d{ISO8601} %-5level [%thread] %logger{0}: %msg%n
      </pattern>
    </encoder>
  </appender>
  <appender name="CYCLIC" class="ch.qos.logback.core.read.CyclicBufferAppender">
    <MaxSize>1024</MaxSize>
  </appender>

  <logger name="org.apache.zookeeper" level="info"/>
  <logger name="org.hbase.async" level="info"/>
  <logger name="com.stumbleupon.async" level="info"/>
  <root level="info">
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="CYCLIC"/>
  </root>
</configuration>
